node_modules

.cache
.vercel
.output

public/build
/build
/api/index.js*

# TS
*.tsbuildinfo

# styles
/app/styles/**/*.css
other/postcss.ignored

# env files
.env
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local
